:root {
  --primary: #fff;
  --turquoise: #08a4b3;
  --dark: #042443;
  --yellow: #fbdb04;
  --red: #ea5e68;
  --League: 'LeagueGothic';
  --Lato: 'Lato-SemiBold';
}

.about-container {
  display: flex;
  flex-direction: column;
}

.about-title-container {
  display: flex;
  flex-direction: column;
}

.about-title {
  align-items: center;
  color: var(--primary);
  display: flex;
  font-family: var(--League);
  font-size: 10em;
  justify-content: center;
  line-height: 0.1em;
  margin: 1em auto 20px auto;
  text-align: center;
  text-shadow: 5px 5px 5px var(--dark);
  width: 70%;
}

.about-title:before,
.about-title:after {
  content: '';
  border-top: 8px solid;
  margin: 0 20px 0 0;
  flex: 1 0 20px;
}

.about-title:after {
  margin: 0 0 0 20px;
}

.about-subtitle {
  color: var(--dark);
  font-family: var(--League);
  font-size: 40px;
  padding-left: 1em;
  width: 90%;
}

.text-container {
  color: var(--primary);
  display: flex;
  flex-direction: column;
  height: 100%;
  margin-top: 3em;
}

.body-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 1em;
}

.bullets-section {
  background-color: var(--primary);
  border: 5px solid var(--turquoise);
  border-radius: 4px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 3em;
  margin-right: 1em;
  margin-top: 6em;
  padding-left: 2em;
  padding-right: 1em;
  padding-bottom: 3em;
}

.second-body {
  background-blend-mode: lighten;
  background-image: url('../../Images/AdobeStock_135100192.jpeg');
  background-size: cover;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  width: 100%;
}

.graphic-cpu {
  height: 30em;
  margin-top: 8em;
}

.first-body {
  display: flex;
  flex-direction: row;
  padding-bottom: 6em;
}

.graphic {
  height: 50em;
  margin-bottom: 2em;
  text-shadow: 3px 2px var(--dark);
}

.about-body {
  color: var(--dark);
  font-family: var(--Lato);
  font-size: 20px;
  margin-top: 1em;
  padding-left: 2em;
  width: 90%;
}

.about-body-hobbies {
  font-family: var(--Lato);
  margin-left: 1.2em;
}

.hobbies-container {
  display: flex;
  flex-direction: column;
}

.hobbies-list {
  color: var(--dark);
  font-size: 1.5em;
  margin-bottom: 2em;
  margin-top: 0.5em;
}

.skills-list {
  font-size: 1em;
}

.about-body-skills {
  color: var(--dark);
  font-family: var(--Lato);
  font-size: 1.5em;
  margin-top: 0em;
  margin-left: 0.9em;
}

.interests {
  color: var(--turquoise);
  font-size: 5em;
  margin-left: 0;
  padding-left: 0;
  text-shadow: 4px 4px var(--dark);
}

.graphic-container {
  display: flex;
  flex-direction: column;
}

.skills-subtitle {
  color: var(--turquoise);
  font-family: var(--League);
  font-size: 5em;
  text-shadow: 4px 4px var(--dark);
}

.rectangle {
  background-blend-mode: lighten;
  background-image: url('../../Images/AdobeStock_135100192.jpeg');
  background-size: cover;
  border-radius: 3px;
  height: 20em;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}

.small-screen-bullets {
  display: none;
}

.mobile-image {
  display: none;
}

@media screen and (min-width: 1830px) {
  .graphic {
    height: 40em;
  }
}

@media screen and (max-width: 1708px) {
  .bullets-section {
    width: 90%;
  }
}

@media screen and (max-width: 1570px) {
  .bullets-section {
    margin-right: 0;
    width: 90%;
  }
}

@media screen and (max-width: 1458px) {
  .bullets-section {
    margin-right: 0;
    padding-bottom: 2em;
  }

  .bullets-container {
    margin-right: 2em;
  }
}

@media screen and (max-width: 1402px) {
  .first-body {
    padding-bottom: 4em;
  }
}

@media screen and (max-width: 1227px) {
  .graphic-container {
    margin-top: 7em;
  }

  .graphic {
    height: 50em;
  }

  .graphic-cpu {
    height: 20em;
    margin-top: 15em;
  }

  .paragraph-container {
    width: 50%;
  }

  .first-body {
    width: 100%;
  }

  p .about-body {
    margin-right: 0;
  }

  .bullets-section {
    margin-right: 0;
    padding-right: 3em;
  }
}

@media screen and (max-width: 1214px) {
  .padding-div {
    padding-right: 2em;
  }
}

@media screen and (max-width: 1184px) {
  .padding-div {
    padding-right: 2em;
  }

  .graphic {
    height: 40em;
  }

  .paragraph-container {
    width: 70%;
  }
}

@media screen and (max-width: 1008px) {
  .bullets-section {
    width: 100%;
  }

  .cpu-graphic-container {
    width: 60%;
  }

  .skills-subtitle {
    font-size: 3em;
  }

  .interests {
    font-size: 3em;
  }

  .hobby-item {
    font-size: 20px;
  }
}

@media screen and (max-width: 960px) {
  .graphic-container {
    display: none;
  }
  .paragraph-container {
    width: 100%;
  }

  .mobile-image {
    display: flex;
    flex-direction: column;
    height: 40em;
    margin-left: auto;
    margin-right: auto;
    margin-top: 3em;
  }

  .body-container {
    margin-top: 0;
  }
}

@media screen and (max-width: 868px) {
  .cpu-graphic-container {
    display: none;
  }

  .about-title {
    font-size: 7em;
    margin-top: 0.75em;
  }

  .rectangle {
    height: 10em;
  }

  .padding-div {
    padding: 0;
  }

  .second-body {
    align-content: center;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
  }

  .bullets-section {
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
  }
}

@media screen and (max-width: 496px) {
  .mobile-image {
    height: 30em;
  }
}

@media screen and (max-width: 480px) {
  .about-title {
    font-size: 8em;
    margin-top: 1em;
  }
}
@media screen and (max-width: 479px) {
  .about-title {
    font-size: 6em;
    margin-top: .8em;
  }
}
@media screen and (max-width: 422px) {
  .bullets-section {
    display: flex;
    flex-direction: column;
  }

  .skills-list {
    margin-bottom: 1em;
  }

  .hobbies-list {
    margin-top: 0;
  }
}

@media screen and (max-width: 372px) {
  .mobile-image {
    height: 25em;
  }
}

@media screen and (max-width: 330px) {
  .mobile-image {
    height: 25em;
  }

  .about-title {
    font-size: 4em;
    margin-top: 0.75em;
  }
}

@media screen and (max-width: 309px) {
  .mobile-image {
    height: 20em;
  }
}