:root {
  --primary: #fff;
  --turquoise: #08a4b3;
  --dark: #042443;
  --yellow: #fbdb04;
  --red: #ea5e68;
  --League: 'LeagueGothic';
  --Lato: 'Lato-SemiBold';
}

.main {
  height: 150vh;
}

.resume-container {
  background-image: url('../../Images/shapes2.png');
  background-position: cover;
  background-size: auto;
  display: flex;
  flex-direction: column;
  height: 100%;
}

.circle {
  position: absolute;
  right: 3em;
  top: 70em;
}

.triangle {
  bottom: 10em;
  position: absolute;

}

.resume-title-container {
  border-bottom: 5px solid var(--turquoise);
  display: flex;
  flex-direction: column;
  z-index: 20;
}

.resume-title {
  align-items: center;
  color: var(--primary);
  display: flex;
  font-family: var(--League);
  font-size: 10rem;
  justify-content: center;
  line-height: 0.1em;
  margin: 1em auto 20px auto;
  text-align: center;
  text-shadow: 3px 3px var(--dark);
  width: 70%;
}

.resume-title:before,
.resume-title:after {
  content: '';
  border-top: 8px solid;
  margin: 0 20px 0 0;
  flex: 1 0 20px;
}

.resume-title:after {
  margin: 0 0 0 20px;
}

.pdf {
  border: 5px solid var(--dark);
  border-radius: 3px;
  height: 100%;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}

.pdf-container {
  height: 100%;
  margin-bottom: 2em;
  margin-left: auto;
  margin-right: auto;
  margin-top: 2em;
  width: 70%;
  z-index: 20;
}

.main-containers {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.tablet-pdf {
  display: none;
}

@media (max-width: 1025px) {
  .tablet-pdf {
    display: flex;
  }
  .pdf {
    display: none;
  }
}

@media (max-width: 499px) {
  .resume-title {
    font-size: 7em;
    margin-top: 0.75em;
  }

  .rectangle {
    height: 10em;
  }
}

@media (max-width: 321px) {
  .resume-title {
    font-size: 3em;
  }

  .download-title-container {
    font-size: 2em;
    margin: 0;
    margin-bottom: 0.5em;
    margin-top: 1em;
  }

  .download-title {
    font-size: 1em;
    margin: 0;
  }

  .main-containers {
    margin: 0.25em;
  }
}
