:root {
  --primary: #fff;
  --turquoise: #08a4b3;
  --dark: #042443;
  --yellow: #fbdb04;
  --red: #ea5e68;
  --League: 'LeagueGothic';
  --Lato: 'Lato-SemiBold';
}

.main {
  height: 100vh;
}

.resume-container {
  background-color: var(--turquoise);
  border: 5px solid var(--dark);
  border-radius: 3px;
  display: flex;
  flex-direction: column;
  height: 150vh;
  margin: 1em;
  text-align: center;
}

.resume-title-container {
  display: flex;
  flex-direction: column;
  margin-top: 2em;
}

.resume-title {
  align-items: center;
  color: var(--primary);
  display: flex;
  font-family: var(--League);
  font-size: 8rem;
  justify-content: center;
  line-height: 0.1em;
  margin: 0.6em auto 20px auto;
  text-align: center;
  text-shadow: 3px 3px var(--dark);
  width: 70%;
}

.resume-title:before,
.resume-title:after {
  content: '';
  border-top: 8px solid;
  margin: 0 20px 0 0;
  flex: 1 0 20px;
}

.resume-title:after {
  margin: 0 0 0 20px;
}

.pdf {
  border: 5px solid var(--dark);
  border-radius: 3px;
}

.pdf-container {
  height: 100%;
}

.download-title-container {
  margin-left: 5em;
  margin-right: 5em;
  margin-top: 2em;
  text-align: center;
}

.download-title {
  color: var(--primary);
  font-family: var(--League);
  font-size: 50px;
  margin-bottom: 0.5em;
  text-align: center;
  text-shadow: 3px 3px var(--dark);
}

.main-containers {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.tablet-pdf {
  display: none;
}

@media (max-width: 1025px) {
  .tablet-pdf {
    display: flex;
  }
  .pdf {
    display: none;
  }
  .main-containers {
    margin: 3em;
  }
}

@media (max-width: 769px) {
  .pdf-container {
    margin-right: 0em;
  }
  .main-containers {
    margin: 1em;
  }
}

@media (max-width: 415px) {
  .resume-title {
    font-size: 4.5em;
    margin-top: 1em;
  }

  .download-title-container {
    font-size: 1em;
    margin: 0;
    margin-top: 1em;
  }

  .main-containers {
    margin: 0.5em;
  }
}

@media (max-width: 321px) {
  .resume-title {
    font-size: 3em;
  }

  .download-title-container {
    font-size: 2em;
    margin: 0;
    margin-bottom: .5em;
    margin-top: 1em;
  }

  .download-title {
    font-size: 1em;
    margin: 0;
  }

  .main-containers {
    margin: 0.25em;
  }
}
