:root {
  --primary: #fff;
  --turquoise: #08a4b3;
  --dark: #042443;
  --yellow: #fbdb04;
  --red: #ea5e68;
  --League: 'LeagueGothic';
  --Lato: 'Lato-SemiBold';
}

.design-container {
  background-color: var(--turquoise);
  border: 5px solid var(--dark);
  border-radius: 3px;
  display: flex;
  flex-direction: column;
  height: 100%;
  margin: 1em;
}

.design-title-container {
  display: flex;
  flex-direction: column;
  margin-bottom: 2em;
  margin-top: 2em;
}

.design-title {
  align-items: center;
  color: var(--primary);
  display: flex;
  font-family: var(--League);
  font-size: 8rem;
  justify-content: center;
  line-height: 0.1em;
  margin: 0.6em auto 20px auto;
  text-align: center;
  text-shadow: 3px 3px var(--dark);
  width: 70%;
}

.design-title:before,
.design-title:after {
  border-top: 8px solid;
  content: '';
  flex: 1 0 20px;
  margin: 0 20px 0 0;
}

.design-title:after {
  margin: 0 0 0 20px;
}
