:root {
  --primary: #fff;
  --turquoise: #08a4b3;
  --dark: #042443;
  --yellow: #fbdb04;
  --red: #ea5e68;
}

.projects-container {
  background-image: url('../../Images/backgroundshapes.png');
  background-position: cover;
  display: flex;
  flex-direction: column;
}

.projects-title-container {
  display: flex;
  flex-direction: column;
  border-bottom: 5px solid var(--turquoise);
}

.projects-title {
  align-items: center;
  color: var(--primary);
  display: flex;
  font-family: 'League Gothic';
  font-size: 8em;
  justify-content: center;
  line-height: 0.1em;
  margin: 1em auto 20px auto;
  text-align: center;
  text-shadow: 5px 5px var(--dark);
  width: 70%;
}

.projects-title:before,
.projects-title:after {
  border-top: 8px solid;
  content: '';
  flex: 1 0 20px;
  margin: 0 20px 0 0;
}

.projects-title:after {
  margin: 0 0 0 20px;
}

.card-section {
  display: grid;
  grid-gap: 16rem;
  grid-row-gap: 3em;
  margin-bottom: 2em;
  margin-left: auto;
  margin-right: auto;
  margin-top: 2em;
  max-width: 100%;
  padding: 1em;
}

.card-wrapper {
  background: black;
  border: 5px var(--dark) solid;
  border-radius: 3px;
  box-shadow: 5px 5px 10px;
  height: 400px;
  width: 360px;
}

.card-wrapper .image-containers {
  height: 100%;
  overflow: hidden;
  width: 100%;
}

.card-wrapper .image-containers .image {
  transition: 0.5s;
  width: 100%;
}

.card-wrapper:hover .image-containers .image {
  cursor: pointer;
  opacity: 0.5;
  transform: translateX(30%);
}

.details {
  background: var(--dark);
  bottom: 100%;
  height: 100%;
  position: relative;
  transform: perspective(2000px) rotateY(-90deg);
  transform-origin: left;
  transition: 0.5s;
  width: 70%;
}

.card-wrapper:hover .details {
  cursor: pointer;

  transform: perspective(2000px) rotate(0deg);
}

.card-wrapper .details .center {
  background: var(--primary);
  padding: 10px;
  position: absolute;
  text-align: center;
  top: 50%;
  transform: translateY(-50%);
}

.project-name {
  color: var(--red);
  font-family: 'League Gothic';
  font-size: 30px;
  line-height: 20px;
  padding: 0;
}

.subtitle {
  color: var(--dark);
  font-family: 'Lato';
  font-size: 20px;
  font-style: italic;
  margin-top: 0.33em;
}

.project-description {
  color: var(--dark);
  font-family: 'Lato';
  font-size: 15px;
  margin: 0.25em 0 0.25em 0;
  padding: 0;
  text-align: left;
  text-shadow: none;
}

.logos {
  display: flex;
  flex-direction: row;
}

.logo1 {
  height: 2em;
  margin-right: 1em;
}

.logo2 {
  height: 2em;
  margin-right: 1em;
}

.logo3 {
  height: 2em;
}

.button-container {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin-top: 0.5em;
}

.stack-container {
  display: flex;
  flex-direction: row;
  margin-top: 0.5em;
}

.stack-title {
  font-family: 'Lato';
  margin-right: 0.5em;
  margin-top: 0.5em;
  text-align: left;
}

.directions {
  color: var(--red);
  font-family: 'League Gothic';
  font-size: 40px;
  margin-top: 1em;
  text-align: center;
  text-shadow: 3px 3px var(--dark);
}

@media (max-width: 906px) {
  .center {
    width: 100%;
  }

  .btn {
    font-size: 16px;
    width: 4.5em;
  }
}
@media (max-width: 461px) {
  .demo-button {
    width: 4.5em;
  }
}

@media (min-width: 600px) {
  .card-section {
    grid-template-columns: repeat(1, 1fr);
  }
}

@media (min-width: 900px) {
  .card-section {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 915px) {
  .card-section {
    grid-gap: 4em;
  }
}

@media (max-width: 1050px) {
  .card-section {
    grid-gap: 7em;
  }
}

@media (max-width: 1023px) {
  .image-containers {
    display: flex;
  }
}

@media screen and (max-width: 868px) {
  .projects-title {
    font-size: 7em;
    margin-top: 0.75em;
  }

  .rectangle {
    height: 10em;
  }
}

@media (max-width: 397px) {
  .projects-title {
    font-size: 6em;
    margin-top: 0.8em;
  }

  .rectangle {
    height: 7em;
  }

  .card-wrapper {
    height: 450px;
    width: 320px;
  }
}

@media (max-width: 357px) {
  .card-wrapper {
    height: 450px;
    width: 300px;
  }

  .btn {
    font-size: 14px;
    width: 4em;
  }
}

@media (max-width: 335px) {
  .card-wrapper {
    height: 450px;
    width: 270px;
  }

  .btn {
    font-size: 14px;
    width: 4em;
  }

  .projects-title {
    font-size: 4.6em;
    margin-top: 0.6em;
  }

  .card-section {
    padding: 0;
  }
}

@media (width: 1024px) and (height: 1366px) {
  
}
